* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  background-color: #674747;
  font-size: 4rem;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #eeeeee;
}

.board {
  background-color: #829460;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  width: 100%;
  justify-content: center;
  align-self: center;
  justify-self: center;
  flex-grow: 1;
}

.squares {
  background-color: #829460;
  border-bottom: 3px solid #674747;
  border-right: 3px solid #674747;
  cursor: pointer;
}

.squares:hover {
  background-color: #967e76;
}

.squaresRight {
  border-right: none;
}

.squaresBottom {
  border-bottom: none;
}

.playerTurn,
.restart {
  background-color: #829460;
  text-align: center;
  color: #674747;
  font-size: 2rem;
  padding-top: 2%;
  padding-bottom: 2%;
}

button {
  border-radius: 99em;
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: #d6cda4;
  font-size: 1.2rem;
  color: #674747;
}

button:hover {
  background-color: #d7c0ae;
  color: black;
}

.footer {
  text-align: center;
  background-color: #eee3cb;
  min-width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #967e76;
  font-size: 1.5rem;
}

.fa-github:hover {
  transform: rotate(360deg);
}

.fa-github {
  color: #967e76;
  transition: transform 0.3s ease-in-out;
}
